* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111111;
    font-family: "Arial", sans-serif;
    gap: 20px;
    flex-direction: column;
}

.clock {
    font-size: 60px;
    color: #00ffcc;
    background: #000000;
    padding: 20px 40px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 255, 204, 0.6);
}

.ms {
    font-size: 30px;
}

.btnBox {
    display: flex;
    gap: 10px;
}

button {
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.2s ease;
}

.start {
    background-color: rgb(0, 219, 0);
}

.start:hover {
    background-color: rgb(2, 255, 2);
}

.start:active {
    transform: scale(0.95);
}

.pause {
    background-color: rgb(219, 0, 0);
}

.pause:hover {
    background-color: rgb(255, 0, 0);
}

.pause:active {
    transform: scale(0.95);
}

.r {
    background-color: rgb(202, 202, 202);
}

.r:hover {
    background-color: rgb(255, 255, 255);
}

.r:active {
    transform: scale(0.95);
}
